<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Export track points to mm.csv mmddyy</string>
	<key>Executable</key>
	<string>mdy-ExportCSVforMM.py</string>
	<key>Category</key>
	<string>Selected Tracks</string>
</dict>
</plist>
